* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  
}
/* ------------------------------------------- CSS Course ---------------------------------------- */
.main {
  
}

.main-background {
  background-image: url("./../assets/freedom.jpg");
  background-size: cover;
  background-position: left 10% bottom 30%;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100vw;
  height: 70vh;
  margin-top: 0px;
  position: relative; 
}

.home-title {
  background: transparent;
  padding: 10px;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.home-title h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 1.6rem;
}

.home-subtitle {
  background: transparent;
  text-align: center;
}

.home-subtitle h3 + p { /* combination of sibblings h3 + p and descendent .home-subtitle h3 + p */
  color: darkblue;
  font-family: 'Anton', sans-serif;
  margin: 0;
}

.home-subtitle h3 { /* .home-subtitle descendent h3  */
  color: darkblue;
  font-family: 'Anton', sans-serif;
}

.home-subtitle h3::first-letter {
  color: red;
}

.plan {
  background-color: #7a92c7;
  text-align: center;
  padding: 16px;
  margin: 0.5rem 0;
  width: 100%;
  display: block;
  /* vertical-align: middle; */
  
}

.plan-list {
  width: 100%;
  text-align: center;
}

.plan__highlighted {
  background: hsl(221, 53%, 29%);
  color: white;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5 ); */
}

.plan__subtitle {
  background: white;
  color: #7a92c7;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5 );
}

.plan__features {
  list-style: none;
}

.plan__feature {
  padding: 8px 0px;
}

.plan__title {
  color: hsl(221, 53%, 29%);
}

.plan__price {
  color: darkgray;
}

.plan__highlighted .plan__title {
  color: white;
}

.plan__highlighted .plan__price {
  color: white;
}

.plan__button {
  background: hsl(221, 53%, 29%);
  color: white;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: 1.5px solid white;
  border-radius: 8px;
  padding: 8px;
}

.plan__button:hover,
.plan__button:active
{
  background: white;
  color: hsl(221, 53%, 29%);
  border: 1.5px solid hsl(221, 53%, 29%);
}

.plan__highlighted .plan__button {
  color: white;
  background: #7a92c7;
}

.plan__highlighted .plan__button:hover {
  color: #7a92c7;
  background: white;
  border: 1.5px solid #7a92c7;
}

.plan__button:focus {
  outline: none;
}

.home-btn {
  background: lightsteelblue;  /* overwritten by online style */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px 5px 15px;
}

.home-logo {
  display: inline-block;
  padding: 10px;
}

.home-img {
  border: 1px solid gray;
  border-radius: 50px;
  /* box-shadow: 5px 5px 5px lightgray; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: middle;
}


.home-check > input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[disabled] {
  color: red
}

.section-title {
  background: #7a92c7;
  text-align: center;
  color: white;
  padding: 8px;
  /* margin: 32px; */
}

#key-features {
  background: #2456c2;
  color: white;
  margin-top: 80px;
  margin-bottom: 16px;;
  padding: 16px;
}

#key-features > .section-title {
  color: white;
  margin: 32px;
}

.key__features {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* .key__feature {
  display: block;
  width: 100%;
} */

.key__feature_description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.key__feature__img {
  background: #ffcede;
  width: 120px;
  height: 120px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 40rem){ /* 40rem = 640px*/
  .home-title h1 {
    font-size: 2.4rem;
  }
  .main-background {
    height: 80vh;
  }
}

@media only screen and (min-width: 60rem) { /* 40rem = 640px*/
  .home-title h1 {
    font-size: 3rem;
  }
  .main-background {
    height: 90vh;
  }
}

@media only screen and (min-width: 40rem){
  .plan {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    vertical-align: middle;
    /* /* min-width: 13rem;
    max-width: 25rem; */
  } */
  .plan-list {
    width: 80%;
    margin: auto;
  }
  .plan__highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5 );
  }
}

@media only screen and (min-width: 40rem) {
  .plan__subtitle {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 50rem) {
  .plan__subtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 40rem) {
  .key__feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 25rem;
  }
}

